* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

.swiper {
  width: 82%;
  height: 350px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.nav-cont {
  color: #ECECEC;
  display: flex;
  align-items: center;
}
.nav-cont img {
  width: 100px;
  border-radius: 100px;
  margin-left: 20px;
}
.nav-cont .navbar-news {
  height: 60px;
  align-items: center;
  margin-left: 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: #B52121;
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
}
.nav-cont .navbar-news .time {
  display: flex;
  align-items: center;
}
.nav-cont .navbar-news .time i {
  font-size: 30px;
  color: gold;
}
.nav-cont .left-nav {
  display: flex;
  align-items: center;
  margin-left: 20px;
  text-align: center;
}
.nav-cont .left-nav p {
  font-size: 18px;
  margin-right: 20px;
  margin-bottom: 0;
}
.nav-cont .left-nav .search {
  display: flex;
  background-color: #eb2626;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  align-items: center;
}
.nav-cont .left-nav .search .icon {
  width: 36px;
  height: 36px;
  border-radius: 20px;
  background-color: #ECECEC;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-cont .left-nav .search .icon i {
  color: rgb(179, 157, 157);
  font-size: 22px;
}
.nav-cont .left-nav .search input {
  border: none;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  height: 38px;
  background-color: #eb2626;
  display: flex;
}
.nav-cont .left-nav .search ::-moz-placeholder {
  color: #ECECEC;
  padding-left: 20px;
}
.nav-cont .left-nav .search :-ms-input-placeholder {
  color: #ECECEC;
  padding-left: 20px;
}
.nav-cont .left-nav .search ::placeholder {
  color: #ECECEC;
  padding-left: 20px;
}
.nav-cont ul {
  display: flex;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 0;
}
.nav-cont ul li {
  text-transform: uppercase;
  font-size: 20px;
  list-style: none;
  margin-right: 30px;
  cursor: pointer;
}
.nav-cont ul i {
  font-size: 36px;
  cursor: pointer;
}

.news {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.news .noticia {
  width: 780px;
  height: 500px;
  background-color: aqua;
  line-height: 0;
}
.news .noticia img {
  width: 100%;
  height: 460px;
  -o-object-fit: cover;
     object-fit: cover;
}
.news #new1 {
  margin-right: 10px;
}
.news #new2 {
  margin-left: 10px;
}

.accordion-body {
  line-height: normal;
}

.accordion-header {
  padding-left: 36%;
}

.accordion-button:focus {
  border: none;
  box-shadow: none;
  background-color: white;
  color: black;
}

.accordion-button:not(.collapsed) {
  color: black;
  background-color: white;
  box-shadow: none;
}/*# sourceMappingURL=styles.css.map */